*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navtop{
    display: flex;
    flex-direction: row;
    height:80px;
    align-items: center;
    justify-content: space-around;
    width:100%;

}
.pic1
{
    height:1.5vw;
}
.pic2
{
    height:1.8vw;
}
.pic3
{
    height:1.8vw;
}
.googlepic
{
    display: flex;
    width:8vw;
    
   
}

.setting
{
    
    height:1.5vw;
    
}
.icon
{
   
    height:1.5vw;
   
}
.button
{
 
    width:5vw;
    border-radius: 4px;
    height: 2.2vw;
    font-size: 1vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.search
{
    display: flex;
    width:50vw;
    height:2vw;
    border-radius: 24px;
    border: 0.5px solid transparent;
    box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
    padding: 8px;

}
.navend
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
}
.inputicons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}
.inputicons ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
  
}
.nav2
{
    display: flex;
    width:100%;
    align-items: center;
    height:60px;
    /* background-color: pink; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#70757a;
    gap:20px;
    border-bottom: 1px solid #70757a;
    

}
.navicon1
{
    margin-left: 225px;

}
.naviconend
{
    width:25%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navicontoll
{
    width:25%;
    display: flex;
    justify-content: end;

    align-items: center;
}
.secimg
{
    display: flex;
    width:2vw;
    height: 2vw;
    border: 1px solid #70757a;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#firsti
{
    width:1vw;
    height:1vw;
}
.morr
{
    width:1.5vw;
}
.sec1
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #70757a;

}
.about
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #70757a;

}
#a1
{
    text-decoration: none;
    color:black;
}

@media (max-width:600px)
{
    *
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navtop{

    display: flex;
    flex-direction: column;
    height:60px;
    align-items: center;
    gap:10px;
    justify-content: space-around;
    width:100%;

}
.pic1
{
    height:1.5vw;
    display: none;
}
.pic2
{
    height:1.8vw;
    display: none;
}
.pic3
{
    height:1.8vw;
    display: none;
}
.googlepic
{
    display: flex;
    width:12vh;
    margin-top: 10px;
    
   
}

.setting
{
    
    height:1.5v;
    display: none;
    
}
.icon
{
   
    height:1.5vh;
    display: none;
   
}
.button
{
 
    width:5vh;
    border-radius: 4px;
    height: 2.2vh;
    font-size: 1vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}
.search
{
    display: flex;
    width:50vh;
    height:3vh;
    border-radius: 24px;
    border: 0.5px solid transparent;
    box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
    padding: 6px;

}
.navend
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vh;
}
.inputicons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}
.inputicons ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
  
}
.nav2
{
    display: flex;
    width:100%;
    align-items: center;
    height:80px;
    /* background-color: pink; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#70757a;
    gap:10px;
    border-bottom: 1px solid #70757a;
    justify-content: space-around;
    padding-top: 20px;

}
.navicon1
{
    display: none;
    margin-left: 225px;

}

.naviconend
{
    
    width:25%;
    display: none;
    justify-content: end;
    align-items: center;
}
.navicontoll
{
    width:25%;
    display: flex;
    justify-content: end;
    display: none;
    align-items: center;
}

   
}
  
