*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navtop{
    display: flex;
    flex-direction: row;
    height:80px;
    align-items: center;
    justify-content: space-around;
    width:100%;

}
.pic1
{
    height:1.5vw;
}
.pic2
{
    height:1.8vw;
}
.pic3
{
    height:1.8vw;
}
.googlepic
{
    display: flex;
    width:8vw;
    
   
}

.setting
{
    
    height:1.5vw;
    
}
.icon
{
   
    height:1.5vw;
   
}
.button
{
 
    width:5vw;
    border-radius: 4px;
    height: 2.2vw;
    font-size: 1vw;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.search
{
    display: flex;
    width:50vw;
    height:2vw;
    border-radius: 24px;
    border: 0.5px solid transparent;
    box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
    padding: 8px;

}
.navend
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
}
.inputicons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}
.inputicons ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
  
}
.nav2
{
    display: flex;
    width:100%;
    align-items: center;
    height:60px;
    /* background-color: pink; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#70757a;
    gap:20px;
    border-bottom: 1px solid #70757a;
    

}
.navicon1
{
    margin-left: 225px;

}
.naviconend
{
    width:25%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navicontoll
{
    width:25%;
    display: flex;
    justify-content: end;

    align-items: center;
}
.secimg
{
    display: flex;
    width:2vw;
    height: 2vw;
    border: 1px solid #70757a;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#firsti
{
    width:1vw;
    height:1vw;
}
.morr
{
    width:1.5vw;
}
.sec1
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #70757a;
    padding-left: 220px;
    width:80%;
   

}
.about
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #70757a;
    padding-left: 220px;
    padding-top: 20px;
    padding-bottom: 10px;

}
.para
{
    /* background-color: aqua; */
    margin-left: 40px;
    margin-top: -30px;
    
}
#a1
{
    text-decoration: none;
    color:#681da8;
    font-size: 22px;

}
.hindi
{
    display: none;
    height:40px;
}
.sec2
{
   
    display: flex;
    justify-content: start;
    align-items: center;
    width:50%;
    padding-left:220px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.sec3{
    display: flex;
    justify-content: start;
    align-items: center;
    height:40%;
   color:#70757a;
    width:44%;
    padding-left: 220px;

}
.sec4
{
    display: none;
}
.presponsive
{
  display: none;
    font-size: 10px ;
}

@media (max-width:600px)
{
    *
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navtop{

    display: flex;
    flex-direction: column;
    height:80px;
    align-items: center;
    gap:10px;
    justify-content: space-around;
    width:100%;

}
.pic1
{
    height:1.5vw;
    display: none;
}
.pic2
{
    height:1.8vw;
    display: none;
}
.pic3
{
    height:1.8vw;
    display: none;
}
.googlepic
{
    display: flex;
    width:12vh;
    margin-top: 30px;
    
   
}

.setting
{
    
    height:1.5v;
    display: none;
    
}
.icon
{
   
    height:1.5vh;
    display: none;
   
}
.button
{
 
    width:5vh;
    border-radius: 4px;
    height: 2.2vh;
    font-size: 1vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}
.search
{
    display: flex;
    width:40vh;
    height:25px;
    border-radius: 24px;
    border: 0.5px solid transparent;
    box-shadow: 0 2px 5px 1px rgba( 64,60,67,0.16);
    /* padding: 6px; */

}
.navend
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vh;
}
.inputicons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
}

.inputicons ul 
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
  
}
.nav2
{
    display: flex;
    width:100%;
    align-items: center;
    height:50px;
    /* background-color: pink; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#70757a;
    gap:10px;
    border-bottom: 1px solid #70757a;
    justify-content: space-around;
    padding-top: 10px;

}
.navicon1
{
    display: none;
    margin-left: 225px;

}

.naviconend
{
    
    width:25%;
    display: none;
    justify-content: end;
    align-items: center;
}
.navicontoll
{
    width:25%;
    display: flex;
    justify-content: end;
    display: none;
    align-items: center;
}
.about
{
    display: none;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #70757a;
    padding-left: 220px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#firsti
{
    width:3vh;
    height:3vh;
}
.morr
{
    width:1.5vh;
}
.sec1
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 10px;
    color: #70757a;
    padding-left: 15px; 
     width:80%;
    height:40px;
   

}

.para
{
    /* background-color: aqua; */
    /* margin-left: 30px; */
    /* padding-left: 10px; */
    font-size: 7px;
    
    
}
.secimg
{
    display: flex;
    width:4vh;
    height: 4vh;
    border: 1px solid #70757a;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.hindi{
    display: flex;
    justify-content: start;
    align-items: center;
    height:60px;
    border-bottom: 8px solid #f2f2f2;
   

}
.hindi1
{
    display: flex;
    justify-content: start;
    align-items: center;
    width:30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding:15px;
}
.hindi2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 4px;
    border: 1px solid black;
    height:60%;
    padding:  2px 10px;
    
}
.a100
{
    font-size: 12px;
    padding-bottom: 5px;
}
.a99
{
    font-size: 12px;
}


#a1
{
    text-decoration: none;
    color:#681da8;
    font-size: 18px;

}
/* .hindi
{
    display: none;
    height:40px;
} */
.sec2
{
   
    display: flex;
    justify-content: start;
    align-items: center;
    width:40%;
    padding-left: 15px;
    /* padding: 10px 10px 10px 10px; */
   
}
.sec3{
   
    justify-content: start;
    align-items: center;
    height:40%;
    color:#70757a;
    width:90%;
    padding-left: 10px;
    padding-right: 10px;
    display: none;


  
}
.sec4
{
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height:80%;
    color:#70757a;
    width:100%;
    font-size: 11px;
   
    
   

}

#presponsive
{
    visibility: visible;
    font-size: 11px;
    padding-left: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    height:60%;
    color:#70757a;
    /* width:100%; */
    /* padding-left: 10px;
    padding-right: 10px; */
    
}
.response{
   /* padding-top: 2px; */
   gap:2px;
   font-size: 12px;
}
}
  
